
.header{

  background-repeat:no-repeat;
  background-image: url('F.jpg') ;
  background-size: 100% Auto;
  height: 20%;
}
.rgup_logo{
  background-repeat:no-repeat;
  background-image: url('logo_RGUP.png') ;
  background-size: 12% Auto;
  height: 10%;
  margin-left:13%;
  
}
.Header_words{
	background-color:#FFFFFF;
	height: 22%;
	margin-left:12%;
	margin-right:14%;
	font-size:1vw;
}
.red_line{
  
  background-repeat:no-repeat;
  background-image: url("red_line.jpg") ;
  background-size: 100% 100%;
  height: 2vh;
  
}
.menu {
	font-size:1vw;
	margin-left:12%;
	width: 9.5%;
	background-color:#FFFFFF;
	padding-left:1%;
	text-decoration:none;
	
	
}
ul {
	margin-left: 0px;
	padding-left: 0px;
	
}
li{
	
	margin-bottom:5%;
	margin-left:0px;
	list-style-type:none;
}

a {
	text-decoration:none;
color:black;}
.indexing{
font-size:1vw;
margin-left:10%;
}
.main_menu{
	padding-left:15%;
    background-color:#eed2ba;
	width: 94%;
	padding-right:3%;
	position:relative;
}

.Svej_nomer{
	position:relative;
	width:45%;
	font-size: 1.5vw;
	padding-left:10%;
	padding-right:15%;
	margin-top: 1%;
	
}
footer{
    position: relative;/*относительное позиционирование*/
    width: 100%;/*на всю ширину*/
    padding: 20px 50px;/*поля для контента*/
    background: #eed2ba;/*цвет футера*/
    display: flex;
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    flex-direction: column;
    margin-top: 100px;/*отступ сверху*/
}
.block{
	display: flex;
}
.table{
	
}
.tr1{
	text-align:center;
	
}
.Ugol{
	color:#800000;
	
}

.table{
	width:100%;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	font-weight:normal;
}
.table th, .table td{
	text-align:center;
	padding:1%;
	font-weight:normal;

}
.tr1{
	background-color:#bbbbbb;
	color:#FFFFFF;
	font-weight:normal;
}

.table th:nth-child(add){
	background:#2196f3;
	font-weight:normal;
}
.table tr:nth-child(even){
	background:#f5f5f5;
	font-weight:normal;
}
.table tr:hover{
	background-color:#ccc;
	font-weight:normal;
}

.table tr{
	transition: all .3s;
	font-weight:normal;
}
.table td:not(:last-child){
	border-right: 3px solid #ccc;
	font-weight:normal;
}
.table-responsive{
	overflow-x:auto;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	font-weight:normal;
}
.article{
	font-size : 1.2vw;
	font-weight:normal;
}
.About_authors{
	position:relative;
	width:60%;
	font-size: 1.5vw;
	padding-left:3%;
	padding-right:15%;
	margin-top: 1%;
}
.table2{
	width = 100%;
}
.about_authors{
	margin-top:2%;
	border: 2px solid #515151;
	border-radius: 10px;
	padding-left:3%;
}
input{
  margin-top:3%;
  
  }
 form{
	 padding-top:7%;
	 padding-bottom:5%;
 }
.custom-select {
  min-width: 350px;
}

.sel {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1.15vw;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.Ex_Search{
	position:relative;
	width:60%;
	font-size: 1.5vw;
	padding-left:3%;
	
	margin-top: 1%;
}
.table2{
	font-weight:normal;
	border: 1px solid #caced1;
	padding-right:2%;
}

td{
 padding-left:1%;
 
}
th, td {
  padding: 15px;
}