@charset "utf-8";
/* CSS Document */

.btn-group .button {
    /*background-color: #4CAF50;*/  
    border: 1px solid green;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+1,83c783+23,52b152+45,008a00+86,005700+100,002400+100 */
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top,  #b4ddb4 1%, #83c783 23%, #52b152 45%, #008a00 86%, #005700 100%, #002400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b4ddb4 1%,#83c783 23%,#52b152 45%,#008a00 86%,#005700 100%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b4ddb4 1%,#83c783 23%,#52b152 45%,#008a00 86%,#005700 100%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */


    color: white;
    padding: 2% 7.2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 105%;
    cursor: pointer;
    float: left;
}
.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/*.btn-group .button:hover {
    background-color: #3e8e41;
}
*/
.player{
  
  border-radius: 2%; 
 margin-top:5%;
 margin-bottom:5%;
 }

 .zagol{
 margin-left:6%;
 margin-bottom:2%;
 margin-top:3%;
 }
.spisok{
	margin-top: 2%;
	margin-left: 3%;
	font-size:120%;
	color:#094716;
}
.pict{
	float:right;
	margin-right:6%;
	border-radius:5%;
	margin-top: 10%;
	width: 10%;
}
.zagol2{
  margin-left:4%;
 margin-bottom:0%;
 margin-top:2%;
 }
 

.Pretable{
padding-top:7%;
padding-bottom:1%;	
text-align:center;
font-size: 150%;
color:#2F4F4F;
padding-left:7%;
font-weight:500;
font: italic small-caps bold 30px Arial;
}

.container{
max-width:80%;
margin:auto;
padding: 0% 5%;
}
.mtb-3{
	margin-top: 2%;
	margin-bottom: 2%;
}
.table{
	width:100%;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.table th, .table td{
	text-align:center;
	padding:1%;
}
.table th{
	background-color:#696969;
	color:#FFFFFF;
}
.table th:nth-child(add){
	background:#2196f3;
}
.table tr:nth-child(even){
	background:#f5f5f5;
}
.table tr:hover{
	background-color:#ccc;
}

.table tr{
	transition: all .3s;
}
.table td:not(:last-child){
	border-right: 1px solid #ccc;
}
.table-responsive{
	overflow-x:auto;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.text1 {
 font: italic small-caps normal 20px Arial;
 padding-left:20px;
 margin-left:2%;
 margin-top: 3%;
 margin-right:5%;
 line-height:1.5;
 text-align:justify;
}
.text2 {
 font: italic small-caps normal 20px Arial;
 padding-left:20px;
 margin-left:2%;
 margin-top: 2%;
 margin-right:5%;
 line-height:1.5;
font-size:20px;
}
.zagolovok
{
padding-top:3%;
padding-bottom:0%;	
text-align:left;

color:#094716;
padding-left:3%;
font-weight:500;
font: italic small-caps bold 30px Arial;
}
.projivanie{
 font: italic small-caps normal 22px Arial;
 padding-left:2%;
 padding-right:4%;
 color:#094716;
 font-weight:bold;
 line-height:1.5;
 padding-top:2%;
}
.video{
	
position:relative;
padding-bottom:56.25%;
z-index:1;
}
.video_media{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	
}

.intro{
max-height:100vh;
overflow:hidden;
position:relative;	
background:url("pi.jpg")center no-repeat;
background-size:cover;

}
.intro:after{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	background-color:rgba(0,0,0,.7);
}
#gall {
  position: relative;
  padding-top: 30%;
  -moz-user-select: none; user-select: none;
  margin-top:5%;
}
#gall img {
  position: absolute;
  top: 25%;
  left: 15%;
  max-width: 15%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .2s;
}
#gall img:nth-child(4n-2) {left: 58%;}
#gall img:nth-child(4n-1) {left: 37%;}
#gall img:nth-child(4n) {left: 80%;}
#gall img:nth-child(n+5) {top: 75%;}

#gall img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
}
#gall img:focus ~ div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  cursor: zoom-out;
}

.aboutus{
padding-left:6%;
padding-right:6%;
padding-top: 6%;
color:#094716;
font: italic small-caps normal 22px Arial;
font-weight:normal;
line-height:35px;
}
.pict7{
text-align:center;
}
.contacts{
padding-left:5%;
padding-right:5%;
padding-top: 10%;
color:#094716;
font: italic small-caps normal 22px Arial;
font-weight:normal;
line-height:35px;
}
.izobrajenie{
text-align:center;
padding-left:0%;
}
.Zagol0{
	margin-left:6%;
 margin-bottom:1%;
 margin-top:5%;
color:#0b6b20;

}
.spisok{
margin-left:20%;
}
.nclass{
margin-left:10%;
margin-top:5%;
}
.pict8{
	margin-left:12%;
}
:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/
 
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
	z-index:5;
}
/* Logo */

.menu a{
    display: block;
   padding: 30px;
    color: var(--white);
	z-index:1;
	
	
}
.menu a:hover{
    background-color: var(--gray);
	z-index:1;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
	z-index:5;
	position:relative;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
	z-index:5;
}/* Style label tag */
 
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
	z-index:5;
 
} /* Style span tag */
 
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
	z-index:5;
}
.hamb-line::before{
    top: 5px;
	z-index:5;
}
.hamb-line::after{
    top: -5px;
	z-index:5;
}
 
.side-menu {
    display: none;
	z-index:5;
} /* Hide checkbox */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
		z-index:5;
    }
    .menu li{
        float: left;
		z-index:5;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
		z-index:5;
 
    }
 
    .hamb{
        display: none;
		z-index:5;
    }
	
}
@media(max-device-width:767px){
	.intro{
	background:
	url('besedka.jpg') center
	center/cover no-repeat;
	z-index:1;
	}
	.intro{
	display:none;
	z-index:1;
	}
	
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
	z-index:1;
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
	z-index:1;
 
}
.menu a{
    display: block;
    padding: 20px;
    color: var(--white);
	z-index:1;
}
.menu a:hover{
    background-color: var(--gray);
	z-index:1;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
	z-index:1;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
		z-index:1;
    }
    .menu li{
        float: left;
		z-index:1;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
		z-index:1;
 
    }
 
    .hamb{
        display: none;
    }
}

.galler{
	margin:5% 14%;
	
}
.galler img{
	width: 32%;
	padding: 5px;
}
.services{
	overflow:auto;
	position:relative;
	width:70%;
	height:60%;
	display:flex;
	justify-content:space-around;
	font-size:100%;
	letter-spacing:1px;
	line-height:1.2;
	padding-left:20%;
	padding-top:2%;
}
.content{
	
	position:relative;
	padding:20px;
}
.icon{
	position:relative;
	padding-top:5%;
	
	justify-content:space-around;
}
.icon-box{
	overflow-x:auto;
	  border: none;
  background: #696969;
  color: #f2f2f2;
  padding: 1%;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
  margin-left:1%;
  
}

.icon-box:hover {
	position:relative;
  background: rgba(0,0,0,0);
  color: #696969;
  box-shadow: inset 0 0 0 3px #696969;
}
}
.bold{
	position:relative;
	padding-left:5%;
	padding-right:5%;
	
}
.feedback{
	margin-left:27%;
	margin-top:5%;
	
}

.knop{
	z-index:5;
}
.feedback{
	margin-left:22%;
	margin-right:35%;
	width:20%;
}
.lastpict{
	margin-bottom:5%;
	margin-top:5%;
	margin-left:22%;
	width:10%;
}
.contact{
	width:20%;
	margin-top:3%;
	margin-left:4%;
	position:relative;
	display:inline-block;
}